<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="flickr" type="Linq.Flickr.Configuration.FlickrSettings, Linq.Flickr"/>
  </configSections>

  <flickr apiKey="8d0fb392dd7ebd2b721a6206201deffe" secretKey="cb1308845d645583" cacheDirectory="cache"/>
</configuration>